body{
  font-family:sans-serif;
  font-size: 125%;
}
h1{
  text-align:center;
  font-family:serif;
  font-size: 250%;
  font-weight: bolder;
  color:rgb(75, 109, 74);
}
header{
  background-color:gold;
}
nav{
  background-color:darkgoldenrod;
}
li{
  font-size:150%;
  display:inline-block;
  width: 32%;
  text-align:center;
  line-height:75px;
}
a{
  color:rgb(91, 39, 7);
  font-weight:bold;
}
main{
  background-color:wheat;
  font-size: 120%;
}
p{
  line-height:150%;
}
footer{
  background-color: rgba(255, 0, 106, .6);
}